btn {
    padding: 1.3rem;
    display: inline-block;
    background-color: #eb3007;
    border: 2px solid #eb3007;
    border-radius: 5rem;
    transition: background-color 650ms;
}

btn:hover {
    color: #eb3007;
    background-color: rgba(0,0,0,.2);
}