body {

   background-image: url("Billeder/farver_dark.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Rakkas', sans-serif;
    
     
    margin: 0;
    padding: 15px;
    
}

#mitgrid div {
    font-size: 2em; 
    color: #000000;
    text-align: center;
    margin-top: 50px;

}

#mitgrid {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr;
    
        grid-template-areas:
    
        
        "reto reto"
        "billede1" 
        "billede2" 
        "billede3" 
        "billede4" 
        "billede5"

        "tom tom"
        
        
        ;
                
        
        
        }

                .reto { 
                    grid-area: reto;
                 }

                .billede1 {
                    grid-area: billede1;
                    
                    
                    
                   
                    
                   
                }

                .billede2 {
                    grid-area: billede2;
                    
                    
                    
                    
                
                    
                  
                }

                .billede3 {
                    grid-area: billede3;
                    
                    
                    
                   
                    
                    
                }

                .billede4 {
                    grid-area: billede4;
                    
                   
                    
                   
                  
                 }

                .billede5 {
                    grid-area: billede5;
                    
                    
                    
                    
                  
                 }

              

                
                .tom {
                    grid-area: tom;
                 }

@media screen and (min-width: 736px){
    
    #mitgrid div {
    font-size: 2em; 
    color: #000000;
    text-align: center;
    margin-top: 50px;

}

#mitgrid {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 228px 228px 228px 228px 228px 1fr;
    
        grid-template-areas:
    
        
        ". reto reto reto reto reto ."
        ". billede1 billede2 billede3 billede4 billede5 ."

        ". tom tom tom tom tom ."
        
        
        ;
                
        
        
        }
    
}